

@font-face {
  font-family:Tourney-Regular ;
  src: url("Tourney-Regular.woff2") format('woff2');
}
@font-face {
  font-family:SF-Pro Display ;
  src: url("SFProDisplay-Regular.woff2") format('woff2');
}
@font-face {
  font-family:SF-Pro Display-light ;
  src: url("SFProDisplay-Light.woff2") format('woff2');
}
@font-face {
  font-family:SF-Pro Display-Medium ;
  src: url("SFProDisplay-Medium.woff2") format('woff2');
}

*,*::before,::after{
  box-sizing: border-box;
}
/**
  Нормализация блочной модели
 */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 :where(fieldset[class]) {
   margin-left: 0;
   padding: 0;
   border: none;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }
 
 /**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
 p {
   --paragraphMarginBottom: 24px;
 
   margin-block: 0;
 }
 
 /**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
 p:where(:not([class]):not(:last-child)) {
   margin-bottom: var(--paragraphMarginBottom);
 }
 
 
 /**
   Упрощаем работу с изображениями
  */
 img {
   display: block;
   max-width: 100%;
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   height: 100%;
   /**
     Плавный скролл
    */
   scroll-behavior: smooth;
 }
 
 body {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   min-height: 100%;
   /**
     Унифицированный интерлиньяж
    */
   line-height: 1.5;
 }
 
 /**
   Приводим к единому цвету svg-элементы
  */
 svg *[fill] { fill: currentColor }
 svg *[stroke] { stroke: currentColor }
 
 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
 svg * {
   transition-property: fill, stroke;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   * {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }

*{
  margin: 0;
  padding: 0;
}
body{
  font-family:'SF-Pro Display', sans-serif ;
  font-size: 48px;
}


a{
  text-decoration: none;
}
.container{
  
  max-width: 1400px;
  margin: 0 auto;
}
svg *[fill] {fill:currentColor}
svg *[stroke] {stroke:currentColor}
svg{color: #1F3475;}


header nav ul{
  list-style: none;
}
button{
  display: block;
  border: none;
  transition:.4s ;
  cursor: pointer;
  background-color: inherit;


}
.top-header{
  padding-top:  36px; 
  max-width: 1400px;
  
  
  

  display: flex;
  justify-content: space-between;
  align-items: center;
}
#skidka{
  
  
  display: flex;
  width: 239px;
  height: 78px;
  background-color: #E8E2CF;
  border-radius: 14px;
  
  
  align-items: center;
  justify-content: center;
  display: none;
  margin-right: 40px;
  
  
}
.inner-6{
  display: flex;
  max-width: 1400px;
  height:78px ;
  justify-content: end;
}

  

#skidka p{
  font-family: 'SF-Pro Display';
  font-size: 16px;
  color: #1F3475;
}
.zubick-inner{
  display: flex;
  flex-direction: column;
  
}

  

.main{
  max-width: 1400px;
  
  display: flex;
  justify-content: space-between;
  
  margin-bottom: 45px;
}
.main-left {
  
  
  width: 45%;
  display: flex;
  flex-direction: column;
  height: 161px;
  
  
  
  

}





.main-right{
  width: 37%;
  
  
  gap: 9%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
  
  
  

  


}
.cvet{
  display: flex;
  max-width:80px ;
  
 
   
}
.cvet-1{
  display: flex;
  max-width:114px ;
  max-height: 87px;
 
   
}
.cvet-2{
  display: flex;
  max-width:100px ;
  max-height: 87px;
 
   
}
.cvet-3{
  display: flex;
  max-width:86px ;
  max-height: 87px;
 
   
}
section{
  max-width: 1400px;
  margin: 0 auto;
}







  


.btn{
  display: flex;
  justify-content: space-between;
  align-items: center;

 
  
  
}
.btn-main{
  
  padding-top: 45px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.cnopka{
  justify-content: center;
  
}


.cnopka-2{
  width: 100%;
 
}
.text-k{
  display: flex;
  
  font-size: 32px;
  
  text-align: center;
  
}
.zub{
  display: flex;
 
  width: 55%;
  
 
  
  color: white;
  justify-content: center;
 
  
  
}
.svg-zub-inner{
  display: flex;
  min-width:67px;
  min-height: 67px;
  margin-right: 3%;
  background-color: #B49C80;
  border-radius: 50%;
  
  justify-content: center;
  

}
.svg-zub-inner-1{
  display: flex;
  min-width: 67px;
  min-height: 67px;
  margin-right: 8%;
  background-color: #B49C80;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  
 
  
  

}
.svg-zub-inner-2{
  display: flex;
  min-width: 67px;
  min-height: 67px;
  margin-right: 5%;
  background-color: #B49C80;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
 

}
.svg-zub-inner-3{
  display: flex;
  min-width: 67px;
  min-height: 67px;
  margin-right: 5%;
  background-color: #B49C80;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
 

}
.zub-1{
  width: 55%;
  
  color: white;
}
.zub-2{
  width: 55%;
 
  color: white;
  


}
.zub-3{
  width: 55%;
  height: 66%;
  
  color: white;
  

}
.otbel{
  display: flex;
  color: #1F3475;
  font-size: 38px;
  font-family: 'SF-Pro Display-light';
}
.zub-inner{
  align-items: center;
  display: flex;
  width :55% ;
  height: 100%;
 
  margin-right:5% ;
}
.active{
  display: flex;
  width: 300px;
  align-items: center;
}
.zub-iiner-2{
  align-items: center;
  display: flex;
  width:38% ;
  
}
.top-zub-inner{
  display: flex;
  align-items: center;
  margin-bottom:3% ;
  height: 41%;
  width: 90%;
}
.bottom-zub-inner{
  display: flex;
  align-items: center;
  
  max-height: 100px;
  
  
  
  
}
.inner-4{
  display: flex;
  width: 36%;
  
  margin-right: 18%;
}
.zub-inner:hover svg{
  color: #E8E2CF;
}
.inner-5{
  display: flex;
  width: 45%;
  
  
}

  




.text{

  padding-top: -70px;
  line-height: 80px;
}
#menu-btn{
  max-width: 69px;
  max-height: 69px;
  
  position: relative;
}

li{
  display: inline;
  
} 
.cnopka{
  stroke-width: 1;
}
.cvet:hover{color: #E8E2CF;}
.cvet-1:hover{color: #E8E2CF;}
.cvet-2:hover{color: #E8E2CF;}
.cvet-3:hover{color: #E8E2CF;}

.menu-list{
  
  
  
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  height: 620px;
  width: 464%;
  
  
  display: flex;
  flex-direction: column;
  
  z-index: 1;
  
}

.chrest{
  
  display: flex;
  width: 58%;
 
  
  margin-bottom :78px; 
}
.menu-link{
  padding: 9%;
  font-size: 38px;
  font-family: 'SF-Pro Display';
  color:#1F3475;

  

 
  
  
  

  

}
#ava{
  display: flex;
  position: relative;
  width: 91px;
  height: 91px;
  cursor: pointer;
  
}

.menu-items{
  display: flex;
  
  height: 77px;
  width: 90%;
  align-items: center;
}
.sub-menu-list-1{
  display: flex;
  padding: 17% 28%;
  
  width: 406%;
  height:500px ;
  
  background-color:#BDB295 ;
  border-radius: 40px 40px 40px 40px;
  position: absolute;
  top: 0;
  right: 0;
  left: 111%;
  display: none;
  background-color:#BDB295 ;
  
}
.sub-menu-list-2{
  display: flex;
  padding: 17% 28%;
  
  width: 344%;
  height:500px ;
  
  background-color:#BDB295 ;
  border-radius: 40px 40px 40px 40px;
  position: absolute;
  top: 0;
  right: 0;
  left: 94%;
  display: none;
  background-color:#BDB295 ;
  
}

.sub-menu-list-3{
  display: flex;
  
  
  width: 344%;
  height:455px ;
  
  background-color:#BDB295 ;
  border-radius: 40px 40px 0 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 94%;
  display: none;
 
  
}
.qq{
  font-family: 'SF-Pro Display';
  font-size: 38px;
  position: absolute;
  color: white;
  left: 4%;
  top: 5%;

}
.objects-1{
  position: absolute;
  width: 35%;
  height: auto;
  right:27% ;
}
.sab-menu-link-2{
  position: absolute;
  top:100%;
  width: 100%;
  height:55px ;
  background-color: #E8E2CF;
  border-radius: 0 0 40px 40px;
  justify-content: center;
  align-items: center;
  color: black;

}
.sab-menu-link-2-text{
  font-family: 'SF-Pro Display';
  font-size: 20px;

 
  
}
#map-menu{
  width: 344%;
  height: 454px;
}
.sub-menu-list-4{
  display: flex;
  
  
  width: 344%;
  height:500px ;
  
  background-color:#BDB295 ;
  border-radius: 40px 40px 40px 40px;
  position: absolute;
  top: 0;
  right: 0;
  left: 94%;
  display: none;
  background-color:white;
  

}
.strela:hover{
  color: #E8E2CF;
}
.map-container {
  position: relative;
  width: 100%;
  height: 584px; /* Высоту можно изменить по вашему усмотрению */
}

#map-container-1{
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 40px;

}
#map-container-2{
  width: 100%;
  height: 584px;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 32px;

}

.map-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1); /* Эффект затемнения */
  pointer-events: none; /* Убедитесь, что клики проходят сквозь слой затемнения */
}

.map {
  width: 100%;
  height: 100%;
}






.hui-1{
  display: flex;
  
 
  
  position: relative;
  margin-bottom:15%; 
  width: 90%;
  height: 77px;
  border-radius: 20px 20px 20px 20px;
  transition: background-color 0.5s ease-in-out;
  align-items: center;
  
  
  
}
.h-inner{
  position: relative;
  width: 94%;
  display: flex;
  align-items: center;
  
  
 
}
.inner-inner{
  position: relative;
}
.h-inner-2{
  
  width: 94%;
}
.h-inner-3{
  
  width: 94%;
}
.h-inner-4{
  
  
  width: 94%;
}


.hui-2{
  display: flex;
  
  
  margin-bottom:15%; 
  width: 90%;
  height: 77px;
  border-radius: 20px 20px 20px 20px;
  transition: background-color 0.5s ease-in-out;
  align-items: center;


}
.hui-3{
  display: flex;
  
  
  margin-bottom:15%; 
  width: 90%;
  height: 77px;
  border-radius: 20px 20px 20px 20px;
  transition: background-color 0.5s ease-in-out;
  align-items: center;

}
.hui-4{
  display: flex;
  
 
  
  width: 90%;
  height: 77px;
  border-radius: 20px 20px 20px 20px;
  transition: background-color 0.5s ease-in-out;
  align-items: center;

}
.sub-menu-block{
  display: flex;
  width: 100%;
  
  
  padding-left: 8%;
  padding-right: 5%;
  padding-top:4% ;
  padding-bottom: 4%;
  
 

  
  
  height: 107px;
  background-color:#E8E2CF ;
  border-radius: 15px 15px 15px 15px;

}
.sub-menu-item{
  padding:3% ;
  display:flex;
  
  width: 18%;
  height: 90%;
  background-color: #BDB295;
  border-radius: 20px 20px 20px 20px;
  order: -1;
  
  
  

}
.sub-menu-item-1{
  padding:3% ;
  display:flex;
  
  width: 16%;
  height: 90%;
  background-color: #BDB295;
  border-radius: 20px 20px 20px 20px;
  order: -1;

}
.sab-menu-link{
  margin-right: 5%;
  margin-bottom:2% ;
  width: 46%;
  
  display: flex;
  
}
.sab-menu-link-1{
  margin: 0;
  width: 50%;
  
  display: flex;

}
.sab-menu-link-2{
  display: flex;
  
}
.sab-menu-link-3{
  display: flex;
  width: 1100px;
  height: 455px;
  

}
.scrin{
  width: 1100px;
  border-radius: 40px 40px 40px 40px;
}
.panel{
  width: 1100px;
  height: 455px;
}

.main-block{
  width:100%;
  display: flex;
  
}
.main-block-2{
  
  display: flex;
  width: 100%;

}
.main-block-2-h{
  display: flex;
  width: 100%;
  flex-direction: column;


}
.sub-menu-text{
  display: flex;
  color: white;
  font-size: 24px;
  align-items: center;
  padding-left: 6%;
  width:74% ;
  font-family: 'SF-Pro Display';
  
  
}
.rabota{
  display: flex;
  width: 301px;
  
  font-size: 38px;
  color: white;
  margin-right: 45px;
  margin-bottom: 300px;

}
.pupoc{
  display: flex;
  
  
  
  
  align-items: center;
  
  height: 45px;
}
.inner-inner{
  display: flex;
  flex-direction: column;
  background-color: white;
}
.pup{
  
  font-size: 20px;
  color: white;
 
}
.pupoc-inner{
  display: flex;
  flex-direction: column;
}


.h-inner:hover .sub-menu-list-1{
  display: block;
}
.h-inner-2:hover .sub-menu-list-2{
  display: block;
}
.h-inner-3:hover .sub-menu-list-3{
  display: block;
}
.h-inner-4:hover .sub-menu-list-4{
  display: block;
}
.hui-1:hover{
  background-color:#8ba0df ;
  color: #E8E2CF;
}
.hui-2:hover{
  background-color:#8ba0df ;
  color: #E8E2CF;
}



.hui-3:hover{
  background-color:#8ba0df ;
  color: #E8E2CF;
}
.hui-4:hover{
  background-color:#8ba0df;
  
}
.menu-link:hover{
  color: #E8E2CF;
}
.icon{
  color: white;
}
.icon:hover{
  color: #8ba0df;
}
.menu{
  display: none;
  
}
.otbel:hover{
  color: #E8E2CF;
}
.slider-container {
  position: relative;
  max-width: 1400px; /* Можно адаптировать под нужный размер */
  height: auto;
  margin: auto;
  overflow: hidden;
  border-radius: 14px 14px 0 0
  
}

.slider {
  display: flex;
  transition: transform 1s ease-in-out;
  border-radius: 14px 0 0 14px;
  height: auto;
}

.slide {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
  height: auto;
}

.slide picture img {
  width: 100%;
  height: auto;
}

.slide-btn {
  position: absolute;
  top: 90%;
  transform: translateY(-50%);
  
  
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 2;
}

.prev { left: 54%; }
.next { right: 0; }

.full-width-btn {
  display: flex;
  width: 100%;
  height: 53px;
  padding: 10px 0;
  background-color: #E8E2CF;
  color: black;
  border-radius: 0px 0px 14px 14px;
  font-family: 'SF-Pro Display';
  font-size: 20px;
  
  cursor: pointer;
  
  margin-bottom: 32px;
  
  justify-content: center;
  align-items: center;
}
.full-width-btn p{

}
.full-width-btn:hover{
  color: #1F3475
}
.oformit:hover{
  color: #1F3475;
  

}
#map{
  position: relative;
  
  width: 100%;
  height: 584px;
  margin-bottom:32px ;
  border-radius: 20px;
  overflow: hidden;
  
}

.rusrochcka{
  position: relative;
  display: flex;
  width: 100%;
  height:584px ;
  background-color:#D1C9B5 ;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 64px;
}
.oformit{
  position: absolute;
  display: flex;
  width: 100%;
  height:53px ;
  background-color:#E8E2CF ;
  border-radius: 0px 0px 20px 20px;
  margin-bottom: 32px;
  top: 91%;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-in-out;
  transition: transform 1s ease-in-out;

}
.oformit-text{
  display: flex;
  position: absolute;
  
  
  
  font-family:'SF-Pro Display';
  font-size: 20px;

}
.inside-text{
  display: flex;
  
  
  position: absolute;
  left: 12%;
  top: 11%;

  
  
  
  
  font-family:'SF-Pro Display';
  font-size: 60px;

}
.tubica{
  
  display: flex;
  left: 12%;
  top: 35%;
  color: #BDB295;

}
.tubica-rect{
  color: #D9D9D9;
}
.inside-text-2{
  display: flex;
  
  max-height: 82px;
  
  
  position: absolute;
  left: 12%;
  top: 70%;
  flex-direction: column;

  
  
  
  
  font-family:'SF-Pro Display-light';
  font-size: 28px;

}
.inside-text-2 span{
  display: flex;
  

}
.inside-text-3{
  position: absolute;
  display: flex;
  font-family: 'Tourney-Regular';
  font-size: 487px;
  right: 2%;
  top: -20%;
  
  
  
  color: #BDB295;

}
.tubica-inner{
  position: absolute;
  display: flex;
  left: 12%;
  top: 35%;
  color: #BDB295;
  width: 21%;
}
.left-section{
  display: flex;
  
  position: relative;
  max-width: 692px; 
  height: 68%;
  background-color: #E8E2CF;
 
  border-radius: 14px;
  margin-bottom: 13%;
  align-items: center;
  justify-content: center;
}
.zapic-zub{
  display: flex;
  
  max-width:100% ;
  
  
  
  
  color: #BDB295;
  transition: color 0.5s ease;

  
}
.svg-left-section-inner-2{
  width: 40%;
}
.right-section{
  flex-direction: column;

  display: flex;
  
  max-width: 692px; 
  
  background-color: #E8E2CF;
  align-items: center;
  border-radius: 14px;
  margin-bottom: 8%;
  
  
}
.right__section-text{
  display: flex;
  font-size: 28px;
  font-family: 'SF-Pro Display';
  color: #BDB295;
  max-width: 584px;
  transition: color 0.5s ease;
  margin-bottom: 5%;
  
  justify-content: center;
}
.left-section-bottom{
  display: flex;
}
.h4-right{
  display: flex;
  font-family: 'SF-Pro Display-Medium';
  color: #BDB295;
  font-size: 32px; 
  max-height:43px ;
  transition: color 0.5s ease;
  margin-bottom: 3%;
}
.section-inner{
  display: flex;
  
  height: auto;
  
  margin-bottom:1%;
}

.zapic-zub-2{
  
  
  
  display: flex;
  
  color: #BDB295;
  transition: color 0.5s ease;
  max-width: 100%;
  height: 100%;
  
  

  
  
}
.menu-nav{
  width: 5%;
}
.svg-right-section-inner{
  padding-top: 18%;
  
  margin-bottom: 22%;
  width: 42%;
  height: 53%;

}
.left-section-inner{
  width: 50%;
  margin-right: 2%;
  
}
.right-section-inner{
  max-width: 50%;
  height: 100%;

}
.bottom-left-section{
  display: flex;
  flex-direction: column;
  max-width: 692px;
 
  
}
.bottom-text{
  display: flex;
  flex-direction: column;
  max-width: 692px;
  max-height: 189px;
}
.zag{
  display: flex;
  font-family:'SF-Pro Display-Medium' ;
  font-size:32px ;
  color: #BDB295;
  margin-bottom:1% ;
  transition: color 0.5s ease;
  max-width: 482px;
}
.textick{
  display: flex;
  font-family: 'SF-Pro Display';
  font-size: 28px;
  color: #BDB295;
  
  transition: color 0.5s ease;
  max-width: 594px;
  

}
.left-section-2{
  flex-direction: column;

  display: flex;
  
  max-width: 692px; 
  height: 28%;
  background-color: #E8E2CF;
  align-items: center;
  border-radius: 14px;
  margin-bottom: 6%;

}
.klich-svg{
  display: flex;
  
  max-width:100% ;
  height: auto;
  
  color: #BDB295;
  
  transition: color 0.5s ease;
}
.svg-left-section-inner{
  width: 39%;
  height: 55%;
  padding-top: 8%;
  margin-bottom: 2%;
}

.left-cextion-2-zag-text{
  display: flex;
  flex-direction: column;
  max-width: 360px;
  font-family:'SF-Pro Display-Medium' ;
  font-size: 32px;
  color: #BDB295;
  margin-bottom:1% ;
  transition: color 0.5s ease;
  
}
.left-cextion-2-zag-text span{
  text-align: center;
  
}
.left-cextion-2-text{
  display: flex;
  flex-direction: column;
  max-width: 584px;
  font-family:'SF-Pro Display' ;
  font-size: 28px;
  color: #BDB295;
  transition: color 0.5s ease;
  text-align: center;
  
  

}
.left-cextion-2-text span{
  text-align: center;
  

}


.right-section-2{
  flex-direction: column;

  display: flex;
  
  max-width: 692px; 
  height: 714px;
  background-color: #E8E2CF;
  align-items: center;
  border-radius: 14px;
  margin-bottom: 6%;
 

}
.left-section-3{
  flex-direction: column;

  display: flex;
  
  max-width: 692px; 
  
  background-color: #E8E2CF;
  align-items: center;
  border-radius: 14px;
  height: 36%;
  
  
 

}
.svg-inner-right-section{
  max-width:  434px;


}
.cemy{
  max-width: 100%;
  height: 100%;
  
  color: #BDB295;
  
  transition: color 0.5s ease;
}
.svg-inner-right-section-inner-1{
  padding-top: 8%;
  height: 51%;

  margin-bottom:17% ;
  width:40% ;

}
.right-section-2-text-zag{
  display: flex;
 
  font-family: 'SF-Pro Display-Medium';
  font-size: 32px;
  color: #BDB295;
  margin-bottom:6% ;
  transition: color 0.5s ease;
}
.right-section-2-text{
  display: flex;
  font-family:'SF-Pro Display' ;
  font-size: 28px;
  color: #BDB295;
  
  max-width: 594px;
  flex-direction: column;
  transition: color 0.5s ease;

}

  

.drug{
  display: flex;
 
  color: #BDB295;
  max-width: 100%;
  height: 100%;
  
 
  
  
  transition: color 0.5s ease;
  
}
.svg-left-section-inner-1{
  padding-top: 11%;
  width: 41%;
  height: 38%;
  margin-bottom: 35%;

}


.left-section-3-zag{
  
  
  display: flex;
  flex-direction: column;
  font-family: 'SF-Pro Display-Medium';
  font-size: 32px;
  color: #BDB295;
  max-width: 481px;
  transition: color 0.5s ease;
  margin-bottom: 1%;

}
.left-section-3-zag span{
  text-align: center;
  
  
}
.left-section-3-text{
  display: flex;
  
  font-family: 'SF-Pro Display';
  font-size: 28px;
  
  color:#BDB295 ;
  max-width: 594px;
  text-align: center;
  flex-direction: column;
  transition: color 0.5s ease;
  
  

}
.right-section-3{
  display: flex;
  flex-direction: column;
  max-width: 712px;
  height: 36%;
  justify-content: flex-end;
  
}
.right-section-3-zag{
  
 
  font-family: 'SF-Pro Display-Medium';
  font-size: 32px;
  color: #BDB295;
  padding-left: 10%;
  margin-bottom: 4%;
  transition: color 0.5s ease;
  

}
.right-section-3-text{
 
  padding-left: 10%;
 
  font-family: 'SF-Pro Display';
  font-size: 28px;
  
  color:#BDB295 ;
  transition: color 0.5s ease;
  
  
  
  flex-direction: column;
  margin-bottom: 21%;

}
.bottom-right-section-3{
  
  display: flex;
  max-width: 712px;
  height: 57%;
  background-color:#E8E2CF;
  opacity: 0.7;
  border-radius: 14px;
  align-items: center;
  justify-content: center;
}

.ochi{
  
  color:#BDB295 ;
  transition: color 1s ease;
  max-width: 100%;

  
 
}
.svg-bottom-right-section-3{
  width: 42%;
}
.right-section-3-text span{
  max-width: 450px;
}
.left-section:hover svg{
  color: #1F3475;

}
.left-section:hover p{
  color: #1F3475;

}
.right-section-3:hover p{
  color: #1F3475;

}
.right-section-3-text:hover{
  color: #1F3475;

}
.left-section-2:hover svg{
  color: #1F3475;
}
.left-section-2:hover p{
  color: #1F3475;
}
.left-section-3:hover svg{
  color: #1F3475;

}
.left-section-3:hover p{
  color: #1F3475;

}
.right-section:hover svg{
  color: #1F3475;
}
.right-section:hover p{
  color: #1F3475;
}
.right-section-2:hover svg{
  color: #1F3475;
}
.right-section-2:hover p{
  color: #1F3475;
}
.right-section-3:hover svg{
  color: #1F3475;
}
.right-section-3:hover p{
  color: #1F3475;
}
.bottom-text:hover p{
  color: #1F3475;
}
.inner-iiiii:hover svg{
  color: #1F3475;

}
.inner-iiiii:hover p{
  color: #1F3475;

}
.inner-iiiii{
  height: 32%;
  margin-bottom: 8%;
}

.slider-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 32px;
}

.slider-1 {
  display: flex;
  transition: transform 0.5s ease;
}

.slide-1 {
  flex: 0 0 100%;
  display: flex;
  
  align-items: center;
}

.slider-navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.nav-dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.nav-dot.active {
  background-color: #717171;
}

.next-btn {
  display: flex;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1000;
  width:  266px;
  align-items: center;
  justify-content: center;
  
  
  
  height: 902px;
  background-color: #BDB295;
  border-radius: 14px;
}
.strela{
  max-width: 185px;
}



.big-zub-container{
  max-width: 100%;
}
.big-zub-container img{
  max-width: 100%;
  height: auto;

}





.left-footer{
  display: flex;
  width:  27% ;
  
  
  flex-direction: column;
  margin-right: 10%;
}
.podpis{
  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: 'SF-Pro Display';
  margin-bottom: 8%;
  
  

}
.le{
  color: black;
  margin-right: 5px;



}
.main-footer{
  display: flex;
  flex-direction: column;
  max-width: 56%;
  
}
.g{
  display: flex;
  margin-bottom: 13px;
  
  height: 57px;
  
  font-size: 30px;
  font-family: 'SF-Pro Display'


}
.q{
  display: flex;
  font-family: 'SF-Pro Display-light';
  font-size: 22px;
  ;
  height: 57px;

}
.footer-inner{
  max-width: 100%;
  display: flex;
  
}
.right-footer{
  display: flex;
  
  font-size: 30px;
  width: 42%;
}
.right-footer-h3{
  font-size: 30px;
  margin-bottom: 35px;
  font-family: 'SF-Pro Display';
  
}
.left-main-footer{
  width: 48%;
  display: flex;
  margin-right: 10%;
}
.right-footer-h3-inner{
  min-width: 29%;
 
  display: flex;
  flex-direction: column;
  margin-right: 6%;
 
}
.vremy{
  display: flex;
  flex-direction: column;
  font-size: 22px;
  padding-top:80px ;
  min-width: 23%;
 
  margin-right:13% ;
  
}
.cub-inner{
  min-width: 27%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding-top:80px ;
}



.inner-iiiii{
  height: 819px;
}
.left-section-2{
  height: 712px;
}
.left-section-3{
  height: 937px;
}
.right-section{
  height:819px ;
}
.right-section-2{
  height: 712px;

}
.right-section-3{
  height: 937px;

}
  








  



  
  
  
  
 
  

  
 

  
  
  
  
  
  
  
  
  


.text-k:hover{
  color: #E8E2CF

}

  

.btn-2{
  display: block;
  justify-content: center;

}
.menu-btn-svg{
  width: 100%;

}
.menu-btn-menu-btn{
  display: flex;
  align-items: center;
}





@media(max-width:1300px){
  .strela{
    max-width: 184px;
  }
  .next-btn{
    max-width: 249px;
    height: 807px;
    
  }
  .zag{
    font-size: 25px;
    
  }
  .textick{
    font-size: 22px;
  }
  .h4-right{
    font-size: 25px;
  }
  .right__section-text{
    font-size: 22px;
  }
  .left-cextion-2-zag-text{
    font-size: 25px;


  }
  .left-cextion-2-text{
    font-size: 22px;
  }
  .right-section-2-text-zag{
    font-size: 25px;
  }
  .right-section-2-text{
    font-size: 22px;
  }
  .left-section-3-zag{
    font-size: 25px;
  }
  .left-section-3-text{
    font-size: 22px;
  }
  .right-section-3-zag{
    font-size: 25px;
  }
  .right-section-3-text{
    font-size: 22px;
  }
  .inner-iiiii{
    height: 659px;
  }
  .left-section-2{
    height: 573px;
  }
  .left-section-3{
    height: 754px;
  }
  .right-section{
    height:659px ;
  }
  .right-section-2{
    height: 573px;
  
  }
  .right-section-3{
    height: 754px;
  
  }
  .otbel{
    font-size: 30px;

  }
  .svg-zub-inner{
    
    min-width:55px;
    min-height: 55px;
    
    
    
    
    
    
  
  }
  .svg-zub-inner-1{
    
    min-width: 55px;
    min-height: 55px;
    margin-right: 8%;
    
    
    
   
    
    
  
  }
  .svg-zub-inner-2{
    
    min-width: 55px;
    min-height: 55px;
    margin-right: 5%;
    
    
    
    
   
  
  }
  .svg-zub-inner-3{
    
    min-width: 55px;
    min-height: 55px;
    margin-right: 2%;
    
    border-radius: 50%;
    
    
   
  

  }
  .inside-text{
    font-size: 49px;
  }
  .inside-text-2{
    font-size: 23px;
  }
  .inside-text-3{
    font-size: 392px;
    top: -10%;
  }
  #map-container-1{
    height: 415px;
  }
  .sub-menu-list-1{
    
    
  }
  .sub-menu-list-3{
    height: 360px;
    
  }

  .menu-link{
    font-size: 27px;
  }
  .sub-menu-text{
    font-size: 17px;
  }
  .sub-menu-block{
    
  }
  .le{
    width: 40px;
    height: 40px;
  }
  .sub-menu-list-1{
    width: 397%;
    
  }
  .sub-menu-list-2{
    width: 337%;

  }
  .sub-menu-list-3{
    width: 337%;

  }
  .sub-menu-list-4{
    width: 337%;
    

  }

  
}
    
  


  @media(max-width:1100px){
    
    .next-btn{
      max-width: 200px;
      height: 807px;
      
    }
    
    .podpis{
      font-size: 25px;
    }
    .g{
      font-size: 25px;

    }
    .q{
      font-size: 18px;
    }
    .right-footer-h3{
      font-size: 25px;
    }
    .vremy{
      font-size: 18px;
    }
    .otbel{
      font-size: 25px;
  
    }
    #skidka{
      width: 144px;
      height: 47px;
    }
    #skidka p{
      font-size: 11px;
      
    }
   

  }
@media(max-width:1150px){
  .menu-list{
    height: 425px;
  }
  .sub-menu-list-1{
    height: 415px;
  }
  .sub-menu-list-2{
    height: 415px;
  }
  
  .sub-menu-list-4{
    height: 415px;
  }
  .sub-menu-block{
    height: 95px;
  }
 


}


@media(max-width:900px){
  .container{
    padding: 0 39px;
  }
  .strela{
    max-width: 124px;
  }
  .next-btn{
    max-width: 167px;
    height: 543px;
    
  }
  .podpis{
    font-size: 17px;
  }
  .g{
    font-size: 17px;

  }
  .q{
    font-size: 13px;
  }
  .right-footer-h3{
    font-size: 17px;
  }
  .vremy{
    font-size: 13px;
  }
  
  
  .logo{
    max-width: 227px;
    max-height: 40px;
  }
  #ava{
    max-width: 52px;
    max-height: 52px;

  }
  .svg-zub-inner{
    max-width: 38px;
    max-height: 38px;
  }
  .zub{
    max-width: 21px;
    max-height: 32px;
  }
  .otbel{
    font-size: 21px;
  }
  .svg-zub-inner-1{
    max-width: 38px;
    max-height: 38px;
  }
  .zub-2{
    max-width: 19px;
    max-height:38px;
  }
  .zag{
    font-size: 18px;
    
  }
  .textick{
    font-size: 16px;
  }
  .h4-right{
    font-size: 18px;
  }
  .right__section-text{
    font-size: 16px;
  }
  .left-cextion-2-zag-text{
    font-size: 18px;


  }
  .left-cextion-2-text{
    font-size: 16px;
  }
  .right-section-2-text-zag{
    font-size: 18px;
  }
  .right-section-2-text{
    font-size: 16px;
  }
  .left-section-3-zag{
    font-size: 18px;
  }
  .left-section-3-text{
    font-size: 16px;
  }
  .right-section-3-zag{
    font-size: 18px;
  }
  .right-section-3-text{
    font-size: 16px;
  }
  .inner-iiiii{
    height: 466px;
  }
  .left-section-2{
    height: 406px;
  }
  .left-section-3{
    height: 534px;
  }
  .right-section{
    height:466px ;
  }
  .right-section-2{
    height: 406px;
  
  }
  .right-section-3{
    height: 534px;
  
  }
  .otbel{
    font-size: 21px;

  }
  .svg-zub-inner{
    
    min-width:37px;
    min-height: 37px;
    
    
    
    
    
    
  
  }
  #map-container-2{
    height: 339px;
    
  }
  .svg-zub-inner-1{
    
    min-width: 37px;
    min-height: 37px;
    margin-right: 8%;
    
    
    
   
    
    
  
  }
  .svg-zub-inner-2{
    
    min-width: 37px;
    min-height: 37px;
    margin-right: 5%;
    
    
    
    
   
  
  }
  .svg-zub-inner-3{
    
    min-width: 37px;
    min-height: 37px;
    margin-right: 2%;
    
    border-radius: 50%;
    
    
   
  
  }
  .inner-6{
    height: 47px;

  }
  .inside-text{
    font-size: 35px;
  }
  .inside-text-2{
    font-size: 16px;
  }
  .inside-text-3{
    font-size: 277px;
    top: -20%;
  }
  .rusrochcka{
    height: 339px;
  }
  
  
  
  .full-width-btn p{
    font-size: 15px;
  }
    
  .menu-link{
    font-size: 22px;
  }
  .sub-menu-text{
    font-size: 14px;
  }
  .sub-menu-block{
    height: 74px;
  }
  .sub-menu-list-1{
    height: 315px;

  }
  .sub-menu-list-2{
    height: 315px;
    
  }
    
  .sub-menu-list-3{
    height: 250px;
    
  }
    
  .sub-menu-list-4{
    height: 315px;
    
  }
  #map-container-1{
    height: 315px;
  }
  .hui-1{
    height: 44px;
    
    

  }
  .hui-2{
    height: 44px;
    
  }
  .hui-3{
    height: 44px;
    
  }
  .hui-4{
    height: 44px;
    
  }
  .le{
    width: 30px;
    height: 30px;
  }
  .inner-inner{
    height:350px;
  }
  
 
    
    
    

  

  

}
@media(max-width:800px){
  .menu-link{
    font-size: 18px;
  }
  
  

}



@media(max-width:720px){
  .strela{
    max-width: 98px;
  }
  .next-btn{
    max-width: 132px;
    height: 429px;
    
  }
  .podpis{
    font-size: 14px;
  }
  .g{
    font-size: 14px;

  }
  .q{
    font-size: 10px;
  }
  .right-footer-h3{
    font-size: 14px;
  }
  .vremy{
    font-size: 10px;
  }
  .zag{
    font-size: 15px;
    
  }
  .textick{
    font-size: 13px;
  }
  .h4-right{
    font-size: 15px;
  }
  .right__section-text{
    font-size: 13px;
  }
  .left-cextion-2-zag-text{
    font-size: 15px;


  }
  .left-cextion-2-text{
    font-size: 13px;
  }
  .right-section-2-text-zag{
    font-size: 15px;
  }
  .right-section-2-text{
    font-size: 13px;
  }
  .left-section-3-zag{
    font-size: 15px;
  }
  .left-section-3-text{
    font-size: 13px;
  }
  .right-section-3-zag{
    font-size: 15px;
  }
  .right-section-3-text{
    font-size: 13px;
  }
  .inner-iiiii{
    height: 380px;
  }
  .left-section-2{
    height: 330px;
  }
  .left-section-3{
    height: 435px;
  }
  .right-section{
    height:380px ;
  }
  .right-section-2{
    height: 330px;
  
  }
  .right-section-3{
    height: 435px;
  
  }
  .otbel{
    font-size: 17px;

  }
  .svg-zub-inner{
    
    min-width:30px;
    min-height: 30px;
    
    
    
    
    
    
  
  }
  .svg-zub-inner-1{
    
    min-width: 30px;
    min-height: 30px;
    max-height: 30px;
    margin-right: 8%;
    
    
    
   
    
    
  
  }
  .svg-zub-inner-2{
    
    min-width: 30px;
    min-height: 30px;
    max-height: 30px;
    margin-right: 5%;
    
    
    
    
   
  
  }
  .svg-zub-inner-3{
    
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    margin-right: 2%;
    
    border-radius: 50%;
    
    
   
  
  }
  .inside-text{
    font-size: 28px;
  }
  .inside-text-2{
    font-size: 14px;
  }
  .inside-text-3{
    font-size: 225px;
    top: -20%;
  }
  .rusrochcka{
    height: 276px;
  }
  .slide-btn {
    top: 65%;
    
  }
  .prev{
    left: 1%;
  }
  #map-container-2{
    height: 276px;
  }
  .menu-link{
    font-size: 18px;
  }
  .sub-menu-text{
    font-size: 12px;
  }
  .sub-menu-block{
    height: 54px;
  }
  .sub-menu-list-1{
    height: 245px;

  }
  .sub-menu-list-2{
    height: 245px;
    
  }
    
  .sub-menu-list-3{
    height: 215px;
    
  }
    
  .sub-menu-list-4{
    height: 245px;
    border-radius: 0 40px 40px 0;
    
  }
  #map-container-1{
    height: 245px;
  }
  .sub-menu-item{
    align-items: center;
    justify-content: center;
  }
  .sub-menu-item-1{
    align-items: center;
    justify-content: center;

  }
  .qq{
    font-size: 18px;
  }
  .sab-menu-link-2-text{
    font-size: 10px;
  }
  .sab-menu-link-2{
    height: 26px;
  }
  .le{
    width: 20px;
    height: 20px;
  }
  #skidka{
    width: 74px;
    height: 47px;
  }
  #skidka p{
    font-size: 10px;
    
  }
    
  


  
}
@media(max-width:649px){
  .otbel{
    font-size:15px ;
  }
  .menu-link{
    font-size: 14px;
  }
  .sub-menu-text{
    font-size: 12px;
  }

}
@media(max-width:572px){
  .otbel{
    font-size:12px ;
  }
  .left-section{
    
   
    
    margin-bottom: 1%;
  }
  

}
@media(max-width:570px){

  .inside-text{
    font-size: 25px;
  }
  .inside-text-2{
    font-size: 10px;
  }
  .inside-text-3{
    font-size: 180px;
    top: -5%;
  }
}



@media(max-width:480px){
  .container{
    padding: 0 16px;
  }
 
  .strela{
    max-width: 65px;
  }
  .next-btn{
    max-width: 88px;
    height: 256px;
    
  }
  .podpis{
    font-size: 19px;
  }
  .g{
    font-size: 19px;

  }
  .q{
    font-size: 14px;
  }
  .right-footer-h3{
    font-size: 19px;
  }
  .vremy{
    font-size: 14px;
  }
  
  .main{
    
    padding-top: 0; 
    display: flex;
    flex-direction:column-reverse;
    
    
    
    
    margin-bottom: 0px;
    
  }
  .top-header{
    
    padding-top:  10px  ; 
    
    
    
  }

  .logo{
    max-width: 207px;
    height: 35px;

  }
  .menu-link{
    font-family: 'SF-Pro Display';
    font-size: 19px;
    padding: 5px 14px  ;
    color: white;
    
    

  }
  .menu-items{
    max-height:38px ;
    border-radius: 20px;

  }
  
  .menu-list{
    max-width:  150px;
    height: 483px;
    
  }
  .chrest{
    width: 150px;
    height: 50px;
    align-items: flex-start;
    margin-bottom: 0;
  }
  .svg-chrest{
    width:21px ;
    height:22px ;
  }
  .inner-inner{
    width: 150%;
    
    height: 450px;
    
    background-color: #BDB295;
    border-radius: 10px 0 0 10px;
  }
  .h-inner{
    width: 95%;
    
    


  }
  .h-inner-2{
    max-width: 100%;


  }
  .h-inner-3{
    max-width: 100%;


  }
  .h-inner-4{
    max-width: 100%;


  }
  .hui-1{
    max-width: 135px;
    max-height: 38px;
    padding-top: 10px;


  }
  .hui-1:hover{
    background-color: #BDB295;
    
  }
  .hui-2:hover{
    background-color: #BDB295;
    
  }
  .hui-3:hover{
    background-color: #BDB295;
    
  }
  .hui-4:hover{
    background-color: #BDB295;
    
  }
  .hui-2{
    max-width: 135px;
    max-height: 38px;
  }
  .hui-3{
    max-width: 135px;
    max-height: 38px;
  }
  .hui-4{
    max-width: 135px;
    max-height: 38px;
  }
  .full-width-btn{
    border-radius: 0 0 40px 40px;
  }


  
  .sub-menu-list-1{
    left: 115%;
    
    height: 435px;
    padding:16px 8px ;
    border-radius:0 10px 10px 0;
    
    width: 225%;
    display: block;

    
    
  }
  .sub-menu-list-2{
    left: 97%;
    width: 190%;
    height: 435px;
    padding:16px 8px ;
    border-radius:0 10px 10px 0;
    display: none;

    
    
  }
  .sub-menu-list-3{
    left: 97%;
    width: 190%;
    height: 435px;
    padding:16px 8px ;
    border-radius:0 10px 10px 0;
    display: none;
    
    
  }
  .sub-menu-list-4{
    left: 97%;
    width: 190%;
    
    height: 435px;
    padding:0 ;
    border-radius:0 10px 10px 0;
    background-color: white;
    display: none;

    
    
  }
  #map-container-1{
    height: 435px;

  }
  .right-footer{
    width: 100%;
  }
  .main-block{
    flex-direction: column;
    max-width: 265px;
  }
  .main-block-2{
    flex-direction: column;
    max-width: 265px;
  }
  .main-block-2-h{
    max-width: 265px;
  }
  .main-block-3{
    display: flex;
    max-width: 265px;
  }
  .sub-menu-block{
    width: 100%;
    height: 65px;
    padding: 10px 21px;

  }
  .sab-menu-link{
    width: 100%;
    margin-bottom:11px ;
    margin-right: 0;

  }
  .sab-menu-link-1{
    width: 100%;
    margin-bottom:11px ;
    margin-right: 0;

  }
  .sab-menu-link-2{
    width: 90%;
    margin-bottom:11px ;
    margin-right: 0;

  }
  .panel{
    max-width: 265px;
    max-height: 341px;
  }
  .footer-inner{
    flex-direction: column;
  }

  .sub-menu-item{
   
    
    border-radius: 10px;


  }
  .sub-menu-text{
    font-family: 'SF-Pro Display';
    font-size: 15px;
    padding-left:10px ;

  }
  .objects{
    right: 42px;

  }
  .objects-1{
    width: 70%;
    top: 20%;
  }
  .sab-menu-link-2{
    top: 90%;
    background-color: #BDB295;
  }
  .qq{

  }
  .icon{
    max-width: 27px;
    max-height: 27px;

  }
  #map-container-1 {
    position: relative;
    width: 100%;
     /* Высоту можно изменить по вашему усмотрению */
    border-radius: 0 10px 10px 0;
  }
  #map-container-2 {
    position: relative;
    width: 100%;
    height: 385px; /* Высоту можно изменить по вашему усмотрению */
    border-radius: 10px;
  }
  .left-main-footer{
    width: 100%;
  }
  .q{
    height: 35px;
  }
  .le{
    width: 30px;
    height: 30px;
  }
  
  
  
  
    
  
  
  
  
  .menu-btn-svg{
    width: 35px;
    height: 35px;

  }
  
  
  .ava{
    max-width: 56px;
    max-height: 47px;
    
  }
  .cvet{
    display: flex;
    max-width:61px ;
    max-height: 69px;
  }
  .cvet-1{
    display: flex;
    max-width:88px ;
    max-height: 66px;

  }
  .cvet-2{
    display: flex;
    max-width:77px ;
    max-height: 66px;
    
  }
  .cvet-3{
    display: flex;
    max-width:66px ;
    max-height: 66px;
    
  }
  
  
 
  .otbel{
    font-family: 'SF-Pro Display-light';
    font-size: 20px;
  }
  .zub-inner{
    display: flex;

    flex-direction: column;
    height: auto;
    width: auto;
    margin-right: 0;
    
    


  }
  .zub-iiner-2{
    display: flex;

    flex-direction: column;
    width: auto;

    
    
    


  }
  .top-zub-inner{
    
    
    margin-bottom: 0;
    height: auto;
    width: auto;
    gap: 7%;
    
  }
  .inner-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-right: 0;
  }
  .inner-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-right: 0;
  }
  .svg-zub-inner-2{
    max-width: 42px;
    min-height: 42px;
  }


  
  
  .main-left {
    width:100% ;
    height:auto ;
    
    flex-direction: row;
    
    
    
    
    font-family: 'SF-Pro Display-light';
    
    margin-bottom:30px ;
    gap: 10%;
    
    
    
    
  }
  .svg-zub-inner{
    min-width: 42px;
    min-height: 42px;
  }
  .svg-zub-inner-1{
    min-width: 42px;
    min-height: 42px;
  }
  .svg-zub-inner-2{
    min-width: 42px;
    min-height: 42px;
  }
  .svg-zub-inner-3{
    min-width: 42px;
    min-height: 42px;
  }
  
  .text{

    padding-top: -10px;
    line-height: 50px;
  }
  .cnopka{
    width: 24px;
    height: 24px;
    margin-right: 24px;
  }
  .cnopka-2{
    width: 24px;
    height: 24px;
   

  }
  .main-right{
    width: 100%;
    
    
    
    
    
    justify-content: space-between;
    margin-bottom: 30px;
    
    
  }
  .slider{
   
    
    border-radius: 40px;
  }
  .btn-main{
    
    
    padding-top: 32px; 
    display: flex;
    
    
    
    align-items: center;
    margin-bottom: 27px;
    justify-content: space-between;
    
  }
  
  .oformit-text{
    display: flex;
    position: absolute;
    
    
    
    font-family:'SF-Pro Display';
    font-size: 20px;
  
  }
  .rusrochcka{
    border-radius: 10px 10px 0 0;
  

  }
  .inside-text{
    display: flex;
    
    
    position: absolute;
    left: 3%;
    top: 5%;
  
    
    
    
    
    font-family:'SF-Pro Display';
    font-size: 34px;
  
  }
  .svg-right-section-inner{
    margin-bottom: 3%;
  }
  .svg-inner-right-section-inner-1{
    margin-bottom: 3%;
  }
  .right-section-2-text-zag{
    margin-bottom: 3%;
    
  }
  .right-section-2-text{
    align-items: center;
  }
  .right-section-3-text{
    margin-bottom: 15%;
  }
  .svg-left-section-inner-1{
    margin-bottom: 25%;

  }

  .tubica{
    position: absolute;
    display: flex;
    max-width: 107px;
    left: 6%;
    top: 40%;
  
  }
  .inside-text-2{
    display: flex;
    max-width: 323px;
    max-height: 82px;
    
    
    position: absolute;
    left: 3%;
    top: 65%;
  
    
    
    
    
    font-family:'SF-Pro Display-light';
    font-size: 20px;
  
  }
  .inside-text-3{
    position: absolute;
    display: flex;
    
    font-size: 180px;
    right: 5%;
    top: -10%;
    
    max-height: 215px;
    color: #BDB295;
  
  }
  .oformit{
  position: absolute;
  display: flex;
  width: 100%;
  height:53px ;
  background-color:#E8E2CF ;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 32px;
  top: 91%;
  align-items: center;
  justify-content: center;

  }
  #map{
    border-radius: 40px;
    overflow: hidden;
    height: 343px; ;
  }
  .prev, .next {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    background-color: none;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
  }
 
  
  .prev { left: 10px;  }
  .next { right: 10px; }
  .zag{
    font-size: 14px;
    
  }
  .textick{
    font-size: 11px;
  }
  .h4-right{
    font-size: 14px;
  }
  .right__section-text{
    font-size: 11px;
  }
  .left-cextion-2-zag-text{
    font-size: 14px;


  }
  .left-cextion-2-text{
    font-size: 11px;
  }
  .right-section-2-text-zag{
    font-size: 14px;
  }
  .right-section-2-text{
    font-size: 11px;
  }
  .left-section-3-zag{
    font-size: 14px;
  }
  .left-section-3-text{
    font-size: 11px;
  }
  .right-section-3-zag{
    font-size: 14px;
  }
  .right-section-3-text{
    font-size: 11px;
  }
  .inner-iiiii{
    height: 256px;
  }
  .left-section-2{
    height: 221px;
  }
  .left-section-3{
    height: 291px;
  }
  .right-section{
    height:256px ;
  }
  .right-section-2{
    height: 221px;
  
  }
  .right-section-3{
    height: 291px;
  
  }
  .bottom-zub-inner{
    display: flex;
    gap: 12%;
  }
  .rusrochcka{
    margin-bottom: 64px;
  }
  .inside-text{
    font-size:27px ;

  }
  .inside-text-2{
    font-size:13px ;
    
  }
  .inside-text-3{
    font-size: 200px;
    
    
  }
  .tubica-inner{
    left: 0;
    
  }

}
@media(max-width:452px){
  .inside-text-3{

    font-size: 160px;
  }
}
  
  

@media(max-width:445px){
  .otbel{
    font-size: 18px;
  }
  .zag{
    font-size: 11px;
    
  }
  .textick{
    font-size: 11px;
  }
  .h4-right{
    font-size: 11px;
  }
  .right__section-text{
    font-size: 11px;
  }
  .left-cextion-2-zag-text{
    font-size: 11px;


  }
  .left-cextion-2-text{
    font-size: 11px;
  }
  .right-section-2-text-zag{
    font-size: 11px;
  }
  .right-section-2-text{
    font-size: 11px;
  }
  .left-section-3-zag{
    font-size: 11px;
  }
  .left-section-3-text{
    font-size: 11px;
  }
  .right-section-3-zag{
    font-size: 11px;
  }
  .right-section-3-text{
    font-size: 11px;
  }

}




@media(max-width:423px){
  .inside-text-3{

    font-size: 140px;
  }
}
@media(max-width:390px){
  .otbel{
    font-size: 16px;
  }
  .inside-text-3{

    
    top: -5%;
  }
  .zag{
    font-size: 11px;
    
  }
  .textick{
    font-size: 9px;
  }
  .h4-right{
    font-size: 9px;
  }
  .right__section-text{
    font-size: 9px;
  }
  .left-cextion-2-zag-text{
    font-size: 9px;


  }
  .left-cextion-2-text{
    font-size: 9px;
  }
  .right-section-2-text-zag{
    font-size: 9px;
  }
  .right-section-2-text{
    font-size: 9px;
  }
  .left-section-3-zag{
    font-size: 9px;
  }
  .left-section-3-text{
    font-size: 9px;
  }
  .right-section-3-zag{
    font-size: 9px;
  }
  .right-section-3-text{
    font-size: 9px;
  }
  .menu-link{
    font-size: 15px;
  }
  .sub-menu-item{
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  #ava{
    width: 36px;
    height: 36px;
  }
  .logo{
    width: 140px;
    height: 24px;

  }
  .menu{
    width: 24px;
    height: 24px;
    
  }
  .menu-list{
    height: 460px;
  }
  .sub-menu-list-1{
    height: 413px;
    
  }
  .sub-menu-list-2{
    height: 413px;

  }
  .sub-menu-list-3{
    height: 413px;

  }
  .sub-menu-list-4{
    height: 413px;

  }
  #map-container-1{
    height: 413px;

  }
 
}





 

    
    
  


  
    
    
  
  
  
  

  
  




  






  

 

@media(max-width:360px){
  .container{
    padding: 0 7px;
  }
  .strela{
    max-width: 65px;
  }
  .next-btn{
    max-width: 74px;
    height: 223px;
    
  }
  .main{
    max-width: 345px;
    
    padding-top:0; 
    display: flex;
    flex-direction:column-reverse;
    
    
    
    align-items: center;
    margin-bottom: 0px;
    
  }
  .top-header{
    
    margin-bottom: 0;
    
  }
  #ava{
    width: 36px;
    height: 36px;
  }
  .logo{
    width: 140px;
    height: 24px;

  }
  .menu{
    width: 24px;
    height: 24px;
    
  }
  
  .menu-nav{
    width: 24px;
  }
  .menu-btn-svg{
    width: 24px;
    height: 24px;

  }
  .ava{
    width: 32px;
    height: 32px;
    
  }
  .inner-inner{
    width: 108%;
  }
  .le{
    width: 20px;
    height: 20px;
  }
  
  
  
  
  
  .otbel{
    font-family: 'SF-Pro Display-light';
    font-size: 16px;
  }
 
    
    
    
    


  .zub-iiner-2{
    max-width: 87px;
    


  }
 
  
  .bottom-zub-inner{
    max-width:91px ;
    max-height:87px ;
  }
  
  
  
  .text{

    padding-top: -10px;
    line-height: 50px;
  }
  .cnopka{
    width: 24px;
    height: 24px;
    margin-right: 24px;
  }
  .cnopka-2{
    width: 24px;
    height: 24px;
   

  }
  
  
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: none;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
  }
  
  .prev { left: 10px;  }
  .next { right: 10px; }
  .btn-main{
    
    
    padding-top: 32px; 
    display: flex;
    
    
    
    align-items: center;
    margin-bottom: 27px;
    justify-content: space-between;
    
  }
  .prev {
    left: 10px;
    top: 50%;
    
  }
  
  .next {
    top: 50%;
    right: 10px;
  }
  .rassrochka{
    max-width: 360px;
    max-height: 224px;
    
  }
  #map{
    height: 265px; ;
  }
  
    .container{
      padding: 0 7px;
    }
    .strela{
      max-width: 48px;
    }
    .next-btn{
      max-width: 66px;
      height: 199px;
      
    }
    .zag{
      font-size: 11px;
      
    }
    .textick{
      font-size: 11px;
    }
    .h4-right{
      font-size: 11px;
    }
    .right__section-text{
      font-size: 11px;
    }
    .left-cextion-2-zag-text{
      font-size: 11px;
  
  
    }
    .left-cextion-2-text{
      font-size: 11px;
    }
    .right-section-2-text-zag{
      font-size: 11px;
    }
    .right-section-2-text{
      font-size: 11px;
    }
    .left-section-3-zag{
      font-size: 11px;
    }
    .left-section-3-text{
      font-size: 11px;
    }
    .right-section-3-zag{
      font-size: 11px;
    }
    .right-section-3-text{
      font-size: 11px;
    }
  
  
  

  

}
@media(max-width:320px){
  .otbel{
    font-size: 14px;
  }
  .svg-zub-inner{
    display: flex;
    justify-content: center;
  }
  .zag{
    font-size: 10px;
    
  }
  .textick{
    font-size: 10px;
  }
  .h4-right{
    font-size: 10px;
    align-items: center;
    justify-content: center;
  }
  .right__section-text{
    font-size: 10px;
  }
  .left-cextion-2-zag-text{
    font-size: 10px;


  }
  .left-cextion-2-text{
    font-size: 10px;
  }
  .right-section-2-text-zag{
    font-size: 10px;
  }
  .right-section-2-text{
    font-size: 10px;
  }
  .left-section-3-zag{
    font-size: 10px;
  }
  .left-section-3-text{
    font-size: 10px;
  }
  .right-section-3-zag{
    font-size: 10px;
  }
  .right-section-3-text{
    font-size: 10px;
  }
  .inner-iiiii{
    height: 256px;
  }
  .left-section-2{
    height: 221px;
  }
  .left-section-3{
    height: 291px;
  }
  .right-section{
    height:256px ;
  }
  .right-section-2{
    height: 221px;
  
  }
  .right-section-3{
    height: 291px;
  
  }
  .inside-text{
    font-size:18px ;

  }
  .inside-text-2{
    font-size:11px ;
    
  }
  .inside-text-3{
    font-size: 140px;
    right: 0;
    
  }
  .tubica-inner{
    left: 0;
    
  }
  .menu-link{
    font-size: 13px;
  }
  .inner-inner{
    width: 100%;
  }
  .sub-menu-list-1{
    width: 205%;

  }
  .sub-menu-list-2{
    width: 177%;
    
  }
  .sub-menu-list-3{
    width: 177%;
  }
  .sub-menu-list-4{
    width: 177%;
    
  }
  .next{
    top: 65%;
  }
  .prev{
    top: 65%;
  }
  



}

